<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Perfect Number Challenge rest service test</title>
    <link href="static/doc/css/bootstrap.css" rel="stylesheet">
    <link href="static/doc/css/bootstrap-responsive.css" rel="stylesheet">
    <style>
        .smile {
            left: -17px;
            position: absolute;
            top: 6px;
        }
    </style>
    <script>
        var serverAddress = '{{ serverAddress }}';

    </script>
</head>

<body>
<div class="container" ng-app="digitalfineprintApp">

    <div class="masthead">
        <h3 class="muted">Perfect Number Challenge rest service test</h3>

        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <div class="smile">
                            <!--<img img="/static/doc/img/smile-icon.png"/>-->
                            <img  src="https://image.flaticon.com/icons/svg/214/214257.svg"
                                  alt="Smile free icon" title="Smile free icon" style="width: 22px;height: 24px;">
                        </div>
                        <li>
                            <a href="/doc#perfectnumber">Perfect Number</a>
                        </li>
                        <li>
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.navbar -->
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <div ui-view></div>
    </div>

</div>

<!--lib--->
<script src="static/doc/scripts/RestUtil.js"></script>

<!--scrips-->
<script src="/static/doc/js/angular.min.js"></script>
<script src="/static/doc/js/angular-resource.min.js"></script>
<script src="/static/doc/js/angular-ui-router.min.js"></script>
<script src="/static/doc/js/angular-messages.min.js"></script>
<script src="/static/doc/app/app.js"></script>
<script src="/static/doc/app/perfectnumber/perfectnumberCtrl.js"></script>


<!--jquery-->
<script src="static/doc/js/jquery.js"></script>
<script src="static/doc/js/bootstrap-transition.js"></script>
<script src="static/doc/js/bootstrap-alert.js"></script>
<script src="static/doc/js/bootstrap-modal.js"></script>
<script src="static/doc/js/bootstrap-dropdown.js"></script>
<script src="static/doc/js/bootstrap-scrollspy.js"></script>
<script src="static/doc/js/bootstrap-tab.js"></script>
<script src="static/doc/js/bootstrap-tooltip.js"></script>
<script src="static/doc/js/bootstrap-popover.js"></script>
<script src="static/doc/js/bootstrap-button.js"></script>
<script src="static/doc/js/bootstrap-collapse.js"></script>
<script src="static/doc/js/bootstrap-carousel.js"></script>
<script src="static/doc/js/bootstrap-typeahead.js"></script>

</body>
</html>
